@{
    ViewData["Title"] = "Eliminacion Exitosa";
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-success" role="alert">
    ¡Album se ha eliminado exitosamente!
</div>

<a href="@Url.Action("Inventory", "Inventory")" class="btn btn-primary">Ir a Inventory</a>
